Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
m4
*.o
*.la
*.lo
.libs
Makefile
depcomp
config.log
config.status
libtool
.deps
src/testapp1/testapp1
*.pc
test/*test
*.log
*.trs
test-driver
test/test*
*.tar.gz
compile
*.trace
INSTALL
*.pyc
*_backup
_testbuild

build/*
!build/*.sh

session.vim
test.py
subprojects/*
!subprojects/*.wrap
tags

